.modal-box {
    max-width: 55rem !important;
}
.rounded-box {
    border: 2px solid transparent;
    transition: border 0.3s;
}

.rounded-box.selected {
    border-color: #ffffff;
    border-width: 5px;
}

.rounded-box:hover {
    border-color: #ffffff;
    border-width: 3px;
}
.drawer-side {
    z-index: 1000;
}
